main {
  min-height: 80vh;
  background-image: linear-gradient(to bottom right, white, #e3e3e3);
}

h3 {
  padding: 1rem 0;
  font-size: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  color: rgb(141, 42, 42);
  background-color: white;
}

.carousel img {
  height: 200px;
  margin: 100px 40px 60px 40px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
.navbar-brand {
  display: contents;
}
